// colors
@white: #fff;
@black: #000;
@lightgrey: #ccc;
@c-active: #00cccc;
@c-text: @black;


// font
@font-family-simple: Arial, Helvetica, sans-serif;
@font-family-icon: "icomoon";
@grid-size-icon: 16px;

@font-size-xs:    13px;
@font-size-s:     14px;
@font-size-base:  15px;
@font-size-m:     18px;
@font-size-l:     20px;
@font-size-xl:    24px;


// max-width
@content-padding-side: 15px;
@page-width-max: 2 * @content-padding-side + 960px;


// responsive breakpoints
@bp-s: 559px;
@bp-m: 767px;
@bp-l: 992px;


// box shadows
@shadow-fullsize: 0 5px 8px -2px rgba(0,0,0,0.2);
@shadow-box:      0 11px 10px -12px rgba(0,0,0,0.3);
